@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-sans: "montserrat", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary-900: #00a652;
  --color-primary-700: #00cc66;
  --color-primary-600: #00e070;
  --color-primary-500: #1fff8f;
  --color-primary-300: #adffd6;
  --color-primary-200: #c2ffe0;
  --color-primary-100: #ebfff5;
  --color-primary-1000: #004724;

  --color-gold-900: #c79717;
  --color-gold-700: #e5b224;
  --color-gold-600: #eabf48;
  --color-gold-500: #eecb6d;
  --color-gold-300: #f2d891;
  --color-gold-200: #f6e5b6;
  --color-gold-100: #fbf2da;

  --color-grey-900: #5e615c;
  --color-grey-500: #cbcecc;
  --color-grey-300: #d9d9d9;
  --color-grey-200: #f0f4f2;

  --animate-marquee: marquee 30s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

html,
body {
  @apply bg-white dark:bg-gray-950 font-montserrat;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  p {
    @apply font-normal text-xl;
  }

  h1 {
    @apply font-[600] text-4xl;
  }

  h2 {
    @apply font-bold text-3xl;
  }

  h3 {
    @apply font-bold text-2xl;
  }

  h4 {
    @apply font-[600] text-2xl;
  }

}


/* @layer base {
  ul, ol {
    list-style: revert;
  }
} */